.jumbotron {
    background-color: chartreuse;
    font-size: 30px;
    text-align: center;
    border-left: 6px solid red;
    background-color: lightgrey;
    border-radius: 25px;
}

h1 {
    padding-top: -250px;
}

img {
    /* float: left; */
    height: 200px;
    width: auto;
    /* padding-top: 60px; */
    border-radius: 25px;
    padding-right: 70%;
}

body {
    background-image: url(../images/art-black-and-white-counter-2341290.jpg);
    /* background-color: black; */
    color: rgb(22, 20, 20);
}

.paragraph1 {
    height: auto;
    width: 60%;
    /* float: right; */
    background-color: rgba(255, 17, 0, 0.116);
    margin-left: 20%;
    padding: 5%;
    border-left: 6px solid red;
    background-color: lightgrey;
    border-radius: 25px;
}